<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
  <body>
<!--  Displays Image Above the Navigation Header-->
  <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="300" height="90" alt="Smith Logo">
  <h1>Navigation</h1>
      <h2>Links:</h2>
        <p>
          A link to the <a href="/hello">Hello Page</a>.
          <br>
          Here is a couple links to my favorite websites in order:
        </p>
<!--          Displays the Ordered Lists of my favorite websites-->
          <ol>
            <li>
              <a href="https://www.youtube.com" target = "_blank">YouTube</a>
            </li>
            <li>
              <a href="https://www.amazon.com" target = "_blank">Amazon</a>
            </li>
          </ol>

    <h1>About Me</h1>

      <h2>Who I Am</h2>
        <p>
          My name is Suraj Singh, before I start talking about what I hope to accomplish in the future, I better first discuss who I am!
          I was born in Ellicott City, Maryland and had attended all of my years of primary and secondary education in Maryland, so
          I have lived in Maryland <strong>my whole life</strong>! When going into college I was very worried about what type of career path that I wanted to take in life.
          I had decided in High school that Computer Science was something that I would <em>hate</em> to make into a full time career, but I did like <strong>aspects of it</strong>.
          And with my interest of potentially starting a business in the future: Information Systems was the <em>best</em> path for me.
          And in my second year, I had declared my second major: Operations Management & Business Analytics (OMBA).
          All these years later, I am now a Senior at the University of Maryland in Information Systems and OMBA on my track to graduate this spring,
          and I can't wait to see what the future holds!
        </p>
      <h2>Course I have Taken</h2>
        <p>Here are some of the courses that I have taken at the Smith School:</p>
<!--Creates Unordered List of Courses-->
        <ul>
          <li>BMGT302</li>
          <li>BMGT332</li>
          <li>BMGT385</li>
          <li>BMGT403</li>
        </ul>
        <p>And here are the semesters I took the aforementioned courses in:</p>
<!--Handles Course/Semester Table Creation-->
        <table>
          <tr>
            <th>Course</th>
            <th>Semester</th>
          </tr>
          <tr>
            <th>BMGT302</th>
            <th>5</th>
          </tr>
          <tr>
            <th>BMGT332</th>
            <th>6</th>
          </tr>
          <tr>
            <th>BMGT385</th>
            <th>6</th>
          </tr>
          <tr>
            <th>BMGT403</th>
            <th>7</th>
          </tr>
        </table>
<!--      Creating the Future Plans Section-->
      <h2>Future Plans</h2>
        <p>
          I am currently interested in attending the graduate program here at the University of Maryland under the Plus One program!
          As of <strong>February 18, 2026</strong>; I am currently going through the process of finishing my graduate application for a <em><strong>Masters of Science in Information Systems</strong></em>.
          If I don't get in, however, I intend to immediately look for a job within the workforce. The career path that I am currently interested is Data Analysis and more specifically a position that I would want
          is a <em>Data Analyst</em>.
          I've come to find out that I really enjoy working with data and making conclusions based off of said data because the overall process, for me, is fun!
        </p>
  </body>
</html>